

.MainBody{
  background-color: #eeeeee;
}

.searchBoxRoot {
      background-color: #ffe600;
}
.searchBoxRoot input {
  vertical-align: middle;
  position: relative;
  margin-top: -40px;
  padding: 2px;
  width: 80vw;
  margin-left: 70px;
  max-width: 80%;
}

.app-brand {
  vertical-align: middle;
  width: 5vw;
}
