$ml-yellow: #ffe600;
$ml-black: #333333;
$ml-grey: #eeeeee;
$ml-dark-grey: #999999;
$ml-blue: #3483fa;
$ml-white: #ffffff;

.header__Main{
  background-color: $ml-yellow;
  padding-top: 8px;
  padding-bottom:8px;
}
.searchBox {
  input {
    font-size: 18px;
    width: 100%;
    border: none;

  }
  button{
    border: none;
    font-size: 18px;
    background-color: $ml-grey;
    padding-top:1px;
    padding-bottom:1px;
    border-radius:0px;

  }

}


.itemMainData {
  p {
    font-size: 14px;
    margin-top: 32px;
    margin-bottom: 16px;
  }
  h1 {
    margin-bottom: 32px;
    font-size: 24px;
  }
  .priceBox {
    p {
      font-size: 46px;
      margin-bottom: 32px;
    }
    .buttonBuy{
      padding-right: 32px;
      width: 100%;
    }
    .btn{
      width: 100%;
      background-color:$ml-blue;
    }
  }
}

.descriptionBox {
  margin-top: 32px;
  margin-left: 32px;
  .descTitle {
    margin-bottom: 32px;
    font-size: 28px;
  }
}

.productDetail__Main, .listPage__Main {
  background-color: $ml-grey;
  height: 100%;
}

.home__Main, .listPage__Main {
  background-color: $ml-grey;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  //overflow: auto;
}

.itemDetailPage {
  .container {
    background-color: $ml-white;
  }
  .imageComponent {
    width: 680px;
  }
}

.listMainCol {
  background-color: $ml-white;
  margin-bottom: 40px;
  margin-left: 16px;

  .priceBox {
    p {
      font-size: 24px;
      margin-bottom: 32px;
    }

  }
  .imageComponent {
    width: 180px;
    height: 180px;
    border-radius: 4px;
  }
  h1 {
    font-size: 18px;
  }
  .itemRow {
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 16px;
  }
  .dataBox{
    margin-left: 16px;
  }
}

.blankSpace{
  background-color: #1b6d85;
  width:30px;
}

.breadcrumbs {
  margin-top:16px;
  margin-bottom:16px;

  p {
    display: inline-block;
    margin-right: 8px;
    font-size: 16px;
  }

}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
